.horario{
    border: 3px solid black;
    border-collapse: collapse;
    width: 400px;
    text-align: center;
    margin: 0 auto;
}

.horario td:nth-child(2){
    background-color: rgb(55, 226, 226);
    
}

.horario td:nth-child(3){
    background-color: rgb(255, 87, 227);
}

.horario td:nth-child(4){
    background-color: rgb(211, 255, 16);
}

.horario td:nth-child(5){
    background-color: rgb(68, 204, 15);
}

.horario td:nth-child(6){
    background-color:rgb(104, 2, 199);
}



.horario tr:nth-child(n+2){
    border-top: 10px solid rgb(255, 0, 43);
}