#perfil{
    margin: 2rem;
    background-color: rgb(206, 201, 201);
    border: 2px solid black;
    padding: 2rem;
}
.modulos > .favorito{
background-color: rgb(0, 0, 0);
color:  rgb(69, 245, 62);
width: fit-content;

}

.modulos li{
    color:darkgreen;
}
.redes a{
    color: red;
}

.modulos > li:first-child{
    background-color: aquamarine;
    width: fit-content;
}