header{
    color: white;
    background-color: blue;
    opacity: 0.5;
}
nav{
    background-color: darkslateblue;
    a {
        color:white
    }
}

section:nth-of-type(1){
    background-color: grey;
    opacity: 0.8;
}
section:nth-of-type(2){
    background-color: rgb(86, 169, 247);
    opacity: 0.8;
}

footer{
    background-color: burlywood;
}